@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-inter), sans-serif;
}
h1, h2, h3 {
  font-family: var(--font-poppins), sans-serif;
}
code {
  font-family: var(--font-jetbrains-mono), monospace;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* this is a test */